@model IEnumerable<NitinChandraMVC.Models.Books>

@{
    ViewBag.Title = "Index";
}



<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Untitled</title>
    <meta name="description" content="This is an example of a meta description.">
    <link rel="stylesheet" type="text/css" href="theme.css">


    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
    <script>
        $(document).ready(function () {
            $("#myInput").on("keyup", function () {
                var value = $(this).val().toLowerCase();
                $("#myTable tr").filter(function () {
                    $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
                });
            });
        });
    </script>

    


</head>
<body>

    <style>
        body {
            margin: 0;
            padding: 0;
        }

        #myInput {
            font-size: 15px;
        }

        .highlight {
            background: #00FF00;
            padding: 1px;
            border: #00CC00 dotted 1px;
        }
    </style>

   

    <div>
        <input class="form-control float-end" id="myInput" type="text" placeholder="Search Books..">
    </div>

    <br />
    <br />
    <br />


    <h1 style="color: #000; font-size: 40px; font-family: 'Times New Roman'; background-color: #eca3f7; color: #fff; width: 50%; border-radius: 5px; "
        class="text-center">
        List of All Books
    </h1>





    <br />
    <p style="font-size: 20px;">

        @Html.ActionLink("Add New Book", "Create")
    </p>

    <table class="table table-bordered table-responsive table-hover">
        <thead>
            <tr style="font-size: 20px;">
                <th>
                    Id
                </th>
                <th>
                    Book Name
                </th>

                <th>
                    Author Name
                </th>
                <th>
                    Price
                </th>
                <th>
                    Functionality
                </th>
            </tr>
        </thead>


        @foreach (var item in Model)
        {
            <tbody id="myTable">
                <tr style="font-size: 20px;">
                    <td>
                        @Html.DisplayFor(modelItem => item.BookId)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Book_Name)
                    </td>

                    <td>
                        @Html.DisplayFor(modelItem => item.Author_Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Book_Price)
                    </td>
                    <td>
                        @Html.ActionLink("Edit", "Edit", new { id = item.BookId }) |
                        @Html.ActionLink("Details", "Details", new { id = item.BookId }) |
                        @Html.ActionLink("Delete", "Delete", new { id = item.BookId })
                    </td>
                </tr>

            </tbody>
        }

    </table>



</body>
</html>
